body{
    background-color:#253440;
}
.app-container-1{
    background-color: #253440;
    min-height: 100vh;
    min-width:55vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
#logo1{
  height: 60px;
  position:absolute;
  left:24%;
  top:25px;
}
form{
    margin-top:60px;
    text-align:left;
}
label{
        font-size:1.1em;
}
button{
    width:100%;
}
input{
    width:93%;
    height:20px;
    border:solid rgb(197, 197, 197);
    border-radius:5px;
    margin:10px 0px;
    padding:10px;
    font-size:16px;
    background-color: white;
}
.paragraph{
    color: #727272;
    font-size:0.85em;
    text-decoration: none;
    text-align: left;
}
  