body{
    background-color:#253440;
    font-family:'Roboto',sans-serif;
}
.app-container-4 .box{
    width:60vh;
}
h1.title{
    margin-bottom:10px;
    font-family:'Montserrat';
    font-weight:700;
}
hr.title{
    max-width:18%;
    height:3px;
    background-color: black;
    border:none;
    transition:max-width 0.2s ease;
    margin-bottom:10%;
}
.title:hover +hr.title{
    max-width:30%;
}
.profile-pic-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom:5%;
}
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;     
    object-fit: cover;       
    border: 2px solid #ffffff;  
}
.hidden {
    display: none;
}

.edit-photo{
    font-weight:800;
    font-size:1.15em;
}
.info-container{
    display:flex;
    gap:10%;
}
.info{
    width:60%;
    display:flex;
    flex-direction:column;
    float:right;
    text-align:left;
}
.app-container-4 input{
    height:25px;
    width:100%;
    padding:10px;
    background-color:#d4e4f4;
    color:black;
    border:1px solid #d4e4f4;
    border-radius:5px;
    font-size:0.9em;
    margin-bottom:3%;
}
.app-container-4 label{
    font-size:0.80em;
}
.app-container-4 input::placeholder{
    color:black;
}
.go-back{
    color:#253440;
    text-align: center;
    align-items: center;
    text-decoration: none;
}